.containerInput {
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label span {
    display: block;
    margin-bottom: 4px;
  }
  
  .inputIconContainer {
    position: relative;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  